<p class="h4" translate>CHECK_REQ</p>

<p>
  <strong translate>SWAPI</strong>: {{'TWO_REQ' | translate}} <code>SwapiSecurityInterceptor</code> {{'ADD_HEADERS' | translate}} <code>Authorization</code>, <code>X-CRSFToken</code> {{'HEADERS' | translate}}
</p>

<div class="card-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{'WITHOUT' | translate}} {{'SPINNER' | translate}}</h5>
      <p class="card-text">{{'THIS_REQ' | translate}} {{'DOESNT' | translate}} {{'USES' | translate}} <code>LoaderInterceptor</code></p>
      <button
        class="btn btn-primary"
        (click)="searchPeople()"
        translate
      >SEARCH_PEOPLE</button>
      <div class="results" *ngIf="people?.length">
        <span
          class="badge badge-pill badge-light"
          *ngFor="let p of people"
        >{{p.name}}</span>
        <div>
          <button
            class="btn btn-outline-primary"
            (click)="people = []"
            translate
          >CLEAR_PEOPLE</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{'WITH' | translate}} {{'SPINNER' | translate}}</h5>
      <p class="card-text">{{'THIS_REQ' | translate}} {{'DOES' | translate}} {{'USES' | translate}} <code>LoaderInterceptor</code></p>
      <button
        class="btn btn-primary"
        (click)="searchPlanets()"
        translate
      >SEARCH_PLANETS</button>
      <div class="results" *ngIf="planets?.length">
        <span
          class="badge badge-pill badge-light"
          *ngFor="let p of planets"
        >{{p.name}}</span>
        <div>
          <button
            class="btn btn-outline-primary"
            (click)="planets = []"
            translate
          >CLEAR_PLANETS</button>
        </div>
      </div>
    </div>
  </div>
</div>

<p>
  <strong translate>STAPI</strong>: {{'TWO_REQ' | translate}} <code>StapiSecurityInterceptor</code> {{'ADD_HEADERS' | translate}} <code>Authentication</code>, <code>Custom-Header</code> {{'HEADERS' | translate}} {{'ALSO' | translate}} <code>LoaderInterceptor</code>
</p>

<div class="card-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{'WITHOUT' | translate}} {{'ALERT' | translate}}</h5>
      <p class="card-text">{{'THIS_REQ' | translate}} {{'DOESNT' | translate}} {{'USES' | translate}} <code>AlertInterceptor</code></p>
      <button
        class="btn btn-primary"
        (click)="searchAnimals()"
        translate
      >SEARCH_ANIMALS</button>
      <div class="results" *ngIf="animals?.length">
        <span
          class="badge badge-pill badge-light"
          *ngFor="let a of animals"
        >{{a.name}}</span>
        <div>
          <button
            class="btn btn-outline-primary"
            (click)="animals = []"
            translate
          >CLEAR_ANIMALS</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{'WITH' | translate}} {{'ALERT' | translate}}</h5>
      <p class="card-text">{{'THIS_REQ' | translate}} {{'DOES' | translate}} {{'USES' | translate}} <code>AlertInterceptor</code></p>
      <button
        class="btn btn-primary"
        (click)="searchWeapons()"
        translate
      >SEARCH_WEAPONS</button>
      <button
        class="btn btn-danger"
        (click)="searchWeaponsError()"
        translate
      >SEARCH_WEAPONS_ERROR</button>
      <div class="results" *ngIf="weapons?.length">
        <span
          class="badge badge-pill badge-light"
          *ngFor="let w of weapons"
        >{{w.name}}</span>
        <div>
          <button
            class="btn btn-outline-primary"
            (click)="weapons = []"
            translate
          >CLEAR_WEAPONS</button>
        </div>
      </div>
    </div>
  </div>
</div>
