<p class="h4" translate>CHECK_REQ</p>

<p>
  <strong translate>SWAPI</strong>: {{'TWO_REQ' | translate}} <code>SwapiSecurityInterceptor</code> {{'ADD_HEADERS' | translate}} <code>Authorization</code>, <code>X-CRSFToken</code> {{'HEADERS' | translate}}
</p>

<div class="card-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{'WITHOUT' | translate}} {{'SPINNER' | translate}}</h5>
      <p class="card-text">{{'THIS_REQ' | translate}} {{'DOESNT' | translate}} {{'USES' | translate}} <code>LoaderInterceptor</code></p>
      <button
        class="btn btn-primary"
        (click)="searchPeople()"
        translate
      >SEARCH_PEOPLE</button>
      <div class="results" *ngIf="people?.length">
        <span
          class="badge badge-pill badge-light"
          *ngFor="let p of people"
        >{{p.name}}</span>
        <div>
          <button
            class="btn btn-outline-primary"
            (click)="people = []"
            translate
          >CLEAR_PEOPLE</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{'WITH' | translate}} {{'SPINNER' | translate}}</h5>
      <p class="card-text">{{'THIS_REQ' | translate}} {{'DOES' | translate}} {{'USES' | translate}} <code>LoaderInterceptor</code></p>
      <button
        class="btn btn-primary"
        (click)="searchPlanets()"
        translate
      >SEARCH_PLANETS</button>
      <div class="results" *ngIf="planets?.length">
        <span
          class="badge badge-pill badge-light"
          *ngFor="let p of planets"
        >{{p.name}}</span>
        <div>
          <button
            class="btn btn-outline-primary"
            (click)="planets = []"
            translate
          >CLEAR_PLANETS</button>
        </div>
      </div>
    </div>
  </div>
</div>

<p>
  <strong translate>POKEAPI</strong>: {{'TWO_REQ' | translate}} <code>PokeapiSecurityInterceptor</code> {{'ADD_HEADERS' | translate}} <code>Authentication</code>, <code>Custom-Header</code> {{'HEADERS' | translate}} {{'ALSO' | translate}} <code>LoaderInterceptor</code>
</p>

<div class="card-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{'WITHOUT' | translate}} {{'ALERT' | translate}}</h5>
      <p class="card-text">{{'THIS_REQ' | translate}} {{'DOESNT' | translate}} {{'USES' | translate}} <code>AlertInterceptor</code></p>
      <button
        class="btn btn-primary"
        (click)="searchPokemon()"
        translate
      >SEARCH_POKEMON</button>
      <div class="results" *ngIf="pokemon?.length">
        <span
          class="badge badge-pill badge-light"
          *ngFor="let p of pokemon"
        >{{p.name}}</span>
        <div>
          <button
            class="btn btn-outline-primary"
            (click)="pokemon = []"
            translate
          >CLEAR_POKEMON</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{'WITH' | translate}} {{'ALERT' | translate}}</h5>
      <p class="card-text">{{'THIS_REQ' | translate}} {{'DOES' | translate}} {{'USES' | translate}} <code>AlertInterceptor</code></p>
      <button
        class="btn btn-primary"
        (click)="searchBerries()"
        translate
      >SEARCH_BERRIES</button>
      <button
        class="btn btn-danger"
        (click)="searchBerriesError()"
        translate
      >SEARCH_BERRIES_ERROR</button>
      <div class="results" *ngIf="berries?.length">
        <span
          class="badge badge-pill badge-light"
          *ngFor="let b of berries"
        >{{b.name}}</span>
        <div>
          <button
            class="btn btn-outline-primary"
            (click)="berries = []"
            translate
          >CLEAR_BERRIES</button>
        </div>
      </div>
    </div>
  </div>
</div>
